---
/**
 * Section Avantages/Inconvénients
 * Utilisation : <ProsConsBox pros={[...]} cons={[...]} />
 */
interface Props {
  pros?: string[];
  cons?: string[];
}

const { pros = [], cons = [] } = Astro.props;

import Icon from './Icon.astro';
---

<div class="pros-cons-container">
  {pros.length > 0 && (
    <div class="pros-box">
      <h3 class="box-header pros-header">
        <Icon name="check" class="icon-accent icon-lg" /> Avantages
      </h3>
      <ul class="list">
        {pros.map(pro => (
          <li class="pro-item">
            <Icon name="check" class="bullet icon-accent" size={18} /> {pro}
          </li>
        ))}
      </ul>
    </div>
  )}
  
  {cons.length > 0 && (
    <div class="cons-box">
      <h3 class="box-header cons-header">
        <Icon name="x" class="icon-muted icon-lg" /> Inconvénients
      </h3>
      <ul class="list">
        {cons.map(con => (
          <li class="con-item">
            <Icon name="x" class="bullet icon-muted" size={18} /> {con}
          </li>
        ))}
      </ul>
    </div>
  )}
</div>
